<?xml version="1.0"?>

<!--
    ardrone_hw.sdf - ArDrone vanilla model.
    ardrone_iceplugin.sdf - The JdeRobot wrapper for ArDrone model.
-->

<model>
  <name>ArDrone2</name>
  <version>2.0</version>
  <sdf>ardrone_iceplugin.sdf</sdf>

  <author>
    <name>Victor Arribas</name>
    <email>v.arribas.urjc@gmail.com</email>
  </author>

  <description>
    The JdeRobot wrapper for ArDrone model.
  </description>
</model>

